* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

body {
  background-color: beige;
}

ol {
  margin-left: 10px;
  padding: 10px;
}
 
nav {
  height: 50px;
  background-color: skyblue;
  border: 1px solid whitesmoke;
  border-top: none;
  border-right: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav a {
  /* position: relative; */
  /* align-items: center; */
  margin: 10px;
}
.nav-line a:hover {
  /* color: yellow; */
  font-size: 16px;
}
#favicon img {
  height: auto;
  width: 25px;
  size: 100;
  padding-right: 10px;
  padding-top: 4px;
}
#social {
  align-items: center;
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
}
#contact {
  align-items: center;
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
}
